In [17]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
from meus.printer import *
from datetime import datetime
import matplotlib.pyplot as plt

data = str(datetime.now().year)+'-'+str(datetime.now().month)+'-'+str(datetime.now().day)
data

'2020-4-10'

In [35]:
os.chdir('D:\\OneDrive\\Programação\\python\\covid\\data\\results')
directory = os.listdir('..')
printLis(directory)

-------------
-=< Lista >=-
-------------
0 -> cities.csv
1 -> covid19_municipios.csv
2 -> COVID19_REGIOES BR.csv
3 -> Dados_demográficos_municípios.xlsx
4 -> Datalab_COVID.pptx
5 -> figures
6 -> População residente municipal x população faixa etária.csv
7 -> População residente por estado - 2015.csv
8 -> População residente x sexo.csv
9 -> results

In [36]:
date = 1
df_cov =  pd.read_csv('..\\'+directory[date])
df_cov.head()

,date,state,city,place_type,confirmed,deaths,is_last,estimated_population_2019,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2020-04-03,AC,Acrelândia,city,9,0.0,True,15256.0,1200013.0,58.99318,NaN
1,2020-04-03,AC,Porto Acre,city,1,0.0,True,18504.0,1200807.0,5.40424,NaN
2,2020-04-03,AC,Rio Branco,city,36,0.0,True,407319.0,1200401.0,8.83828,NaN
3,2020-04-03,AC,NaN,state,46,0.0,True,881935.0,12.0,5.21580,NaN
4,2020-04-03,AL,Importados/Indefinidos,city,4,0.0,True,NaN,NaN,NaN,NaN

In [37]:
df_cov = df_cov[(df_cov['date'] == '2020-04-03') & (df_cov['place_type'] == 'city')][["estimated_population_2019", "confirmed", "deaths", "confirmed_per_100k_inhabitants", "death_rate", "city"]]
df_cov = df_cov.rename(columns={
    "estimated_population_2019": "Population",
    "confirmed": "Confirmed",
    "deaths": "Deaths",
    "confirmed_per_100k_inhabitants": "Confirmed/100k",
    "death_rate": "Death Rate",
    "city": "City"
})
df_cov.head()

,Population,Confirmed,Deaths,Confirmed/100k,Death Rate,City
0,15256.0,9,0.0,58.99318,NaN,Acrelândia
1,18504.0,1,0.0,5.40424,NaN,Porto Acre
2,407319.0,36,0.0,8.83828,NaN,Rio Branco
4,NaN,4,0.0,NaN,NaN,Importados/Indefinidos
5,1018948.0,17,2.0,1.66839,0.1176,Maceió

In [38]:
df_cov.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 531 entries, 0 to 555
Data columns (total 6 columns):
Population        520 non-null float64
Confirmed         531 non-null int64
Deaths            531 non-null float64
Confirmed/100k    515 non-null float64
Death Rate        81 non-null float64
City              531 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 27.0+ KB

In [39]:
date = 3
df_mun =  pd.read_excel('..\\'+directory[date], skiprows=1)
df_mun.head()

,Municípios,UF,Área Territorial - km² [2018],População estimada - pessoas [2019],Densidade demográfica - hab/km² [2010],IDHM - Índice de desenvolvimento humano municipal [2010]
0,Abaetetuba,PA,1610.65,157.698,"87,61",0.628
1,Acrelândia,AC,1807.95,15.256,"6,94",0.604
2,Adamantina,SP,411.987,35.068,82.15,0.79
3,Afonso Cláudio,ES,"941,188",30.586,"32,68",0.667
4,Agudos,SP,"966,708",37.214,"35,73",0.745

In [40]:
df_mun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542 entries, 0 to 541
Data columns (total 6 columns):
Municípios                                                   542 non-null object
UF                                                           542 non-null object
Área Territorial - km² [2018]                                542 non-null object
População estimada - pessoas [2019]                          542 non-null object
Densidade demográfica - hab/km² [2010]                       541 non-null object
IDHM - Índice de desenvolvimento humano municipal [2010]    541 non-null object
dtypes: object(6)
memory usage: 12.8+ KB